<template>
  <div class="styl-container">
    <div
        :style="{
        borderTop: `${currentSettings.width}px ${currentSettings.style}`,
        'align-self': alignment
      }"
        class="styl-divider"
    ></div>
  </div>
</template>

<script>
module.exports = {
  name: "styling",
  props: {
    currentSettings: {
      Type: Object,
      required: true,
    },
    currentStyles: {
      type: Object,
      required: true
    },
    records: {
      type: Array,
      required: false
    },
    language: {
      type: String,
      required: true
    },
    locale: {
      type: String,
      required: true
    },
    backendUrl: {
      type: String,
      required: true
    },
    fetchAsset: {
      type: Function,
      required: false
    }
  },
  computed: {
    alignment: function () {
      return {top: "flex-start", center: "center", bottom: "flex-end"}[
          this.currentSettings.alignment
          ];
    }
  }
};
</script>
<style>
.styl-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.styl-divider {
  width: calc(100% + 1.5rem);
  margin: 0 -0.625rem;
}
</style>
