<template>
  <fieldset>
    <label for="width">{{ t("width_label") }}</label>
    <input
      type="number"
      min="1"
      max="10"
      id="width"
      name="width"
      :value="currentSettings.width"
    />

    <label for="style">{{ t("style_label") }}</label>
    <select name="style" id="style" :value="currentSettings.style">
      <option
        v-for="option in $options.options.style"
        :key="option"
        :value="option"
        >{{ t(option) }}</option
      >
    </select>
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/border-style">{{
      t("reference_link_label")
    }}</a>

    <label for="alignment">{{ t("alignment_label") }}</label>
    <select name="alignment" id="alignment" :value="currentSettings.alignment">
      <option
        v-for="option in $options.options.alignment"
        :key="option"
        :value="option"
        >{{ t(option) }}</option
      >
    </select>
  </fieldset>
</template>

<script>
module.exports = {
  name: "styling",
  props: {
    currentSettings: {
      type: Object,
      required: true,
    }
  },
  options: {
    style: [
      "solid",
      "dotted",
      "inset",
      "outset",
      "dashed",
      "double",
      "groove",
      "ridge"
    ],
    alignment: ["top", "center", "bottom"]
  },
  locales: {
    enGb: {
      width_label: "line width",
      style_label: "line style",
      reference_link_label: "See CSS border-style for reference",
      alignment_label: "vertical alignment"
    },
    deDe: {
      width_label: "Linienbreite",
      style_label: "Linien-Stil",
      reference_link_label: "Referenz: CSS border-style",
      alignment_label: "vertikale Ausrichtung",
      solid: "normal",
      dotted: "gepunktet",
      inset: "eingelassen",
      outset: "geprägt",
      dashed: "gestrichelt",
      double: "doppelt",
      groove: "eingeritzt",
      ridge: "herausstechend",
      top: "oben",
      center: "mittig",
      bottom: "unten"
    },
    frFr: {
      width_label: "Largeur de la ligne",
      style_label: "Style de ligne",
      reference_link_label: "Referenz : CSS de type frontalier",
      alignment_label: "l'alignement vertical",
      solid: "normal",
      dotted: "pointillé",
      inset: "intégré",
      outset: "inventé",
      dashed: "en pointillés",
      double: "double",
      groove: "groove",
      ridge: "ridge",
      top: "top",
      center: "centre",
      bottom: "en bas"
    },
    esEs: {
      width_label: "El ancho de la línea",
      style_label: "Estilo de línea",
      reference_link_label: "Referencias: CSS estilo frontera",
      alignment_label: "alineación vertical",
      solid: "normal",
      dotted: "punteado",
      inset: "incrustado",
      outset: "acuñado",
      dashed: "de trazos",
      double: "doble",
      groove: "groove",
      ridge: "cresta",
      top: "top",
      center: "centro",
      bottom: "abajo"
    },
    plPl: {
      width_label: "Szerokość linii",
      style_label: "Styl linii",
      reference_link_label: "Referenz: CSS border-style",
      alignment_label: "ustawienie pionowe",
      solid: "Normalny",
      dotted: "kropkowane",
      inset: "wbudowany",
      outset: "ukuty",
      dashed: "przerywany",
      double: "podwójne",
      groove: "rowek",
      ridge: "grzbiet",
      top: "do",
      center: "centrum",
      bottom: "dno"
    },
    koKr: {
      width_label: "선의 폭",
      style_label: "선 스타일",
      reference_link_label: "참조를 위해 CSS 테두리 스타일을 참조하십시오",
      alignment_label: "수직 정렬",
      solid: "고체",
      dotted: "점이 찍힌",
      inset: "삽입",
      outset: "시초",
      dashed: "점선",
      double: "더블",
      groove: "홈",
      ridge: "산등성이",
      top: "상단",
      center: "센터",
      bottom: "바닥"
    }
  }
};
</script>
